
@import url('https://fonts.googleapis.com/css?family=Droid+Sans|Fjalla+One|Press+Start+2P|Zilla+Slab+Highlight');

/*Background & Well Styling */

img{
  border-radius: 5px;
  border: 2px solid black;
}
.well{
  background-color: #2ecc71;
}

/*Bio  Section*/
#greeting{
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  font-size: 60px;
  font-weight: bold;
  color: #2ecc71;
}
.bio-profile-pic{
  max-height: 230px;
  text-align: ;
}


/*Portfolio  Section*/
.portfolio-image, #hobbies-photo{
  height: 150px;
}

.project-title{
  font-family: 'Droid Sans', sans-serif;
  font-size: 24px;
  font-weight: bold;
  border: 1px solid black:

}

/*History and Interests Section*/
.section-header{
  font-family: 'Zilla Slab Highlight', cursive;
  font-size: 50px;
}
p{
  font-family: 'Droid Sans', sans-serif;
  font-size: 16px;
}
body {
  background-color: #2c3e50;
}




.hobbies ul{
  list-style-type:none;
}

/*.aligned-left-img{
  float: right;
}*/
.bio-profile-pic{
  max-height: 230px;
  float: right;
}
ul {
  float: left;
}
